/.vs/GuessTheNumber.slnx/FileContentIndex/486daaac-0a8b-436b-8130-593a0d3cac33.vsidx
/.vs/GuessTheNumber.slnx/FileContentIndex/51b5e4e2-e8f9-420a-b27a-143c180235cd.vsidx
/.vs/GuessTheNumber.slnx/FileContentIndex/8d431eda-d06e-44db-87cb-b71083652aec.vsidx
/.vs/GuessTheNumber.slnx/v18/Browse.VC.db
/.vs/GuessTheNumber.slnx/v18/Browse.VC.db-shm
/.vs/GuessTheNumber.slnx/v18/Browse.VC.db-wal
/.vs/GuessTheNumber.slnx/v18/Browse.VC.opendb
