/.vs/GuessTheNumber.slnx/FileContentIndex/486daaac-0a8b-436b-8130-593a0d3cac33.vsidx
/.vs/GuessTheNumber.slnx/FileContentIndex/51b5e4e2-e8f9-420a-b27a-143c180235cd.vsidx
/.vs/GuessTheNumber.slnx/FileContentIndex/8d431eda-d06e-44db-87cb-b71083652aec.vsidx
/.vs/GuessTheNumber.slnx/v18/Browse.VC.db
/.vs/GuessTheNumber.slnx/v18/Browse.VC.db-shm
/.vs/GuessTheNumber.slnx/v18/Browse.VC.db-wal
/.vs/GuessTheNumber.slnx/v18/Browse.VC.opendb
/x64/Debug/GuessTheNumber.exe
/x64/Debug/GuessTheNumber.pdb
/.vs/GuessTheNumber.slnx/FileContentIndex/42939368-cf9c-46a9-9794-ab8e9b28ea2e.vsidx
/.vs/GuessTheNumber.slnx/v18/ipch/AutoPCH/4bff61a04057493/GUESSINGCONFIGS.ipch
/.vs/GuessTheNumber.slnx/v18/ipch/AutoPCH/ce53d53a5f1e5d6/NUMBEROPERATIONS.ipch
/.vs/GuessTheNumber.slnx/v18/.suo
/.vs/GuessTheNumber.slnx/v18/DocumentLayout.backup.json
/.vs/GuessTheNumber.slnx/v18/DocumentLayout.json
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/CL.command.1.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/Cl.items.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/CL.read.1.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/CL.write.1.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/link.command.1.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/link.read.1.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/link.secondary.1.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/link.write.1.tlog
/GuessTheNumber/x64/Debug/GuessingConfigs.obj
/GuessTheNumber/x64/Debug/GuessTheNumber.ilk
/GuessTheNumber/x64/Debug/GuessTheNumber.log
/GuessTheNumber/x64/Debug/GuessTheNumber.obj
/GuessTheNumber/x64/Debug/NumberOperations.obj
/GuessTheNumber/x64/Debug/vc145.idb
/GuessTheNumber/x64/Debug/vc145.pdb
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/CL.command.1.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/Cl.items.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/CL.read.1.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/CL.write.1.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/link.command.1.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/link.read.1.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/link.secondary.1.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/link.write.1.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.ilk
/GuessTheNumber/x64/Debug/GuessTheNumber.log
/GuessTheNumber/x64/Debug/GuessTheNumber.obj
/GuessTheNumber/x64/Debug/NumberOperations.obj
/GuessTheNumber/x64/Debug/vc145.idb
/GuessTheNumber/x64/Debug/vc145.pdb
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/CL.command.1.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/Cl.items.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/CL.read.1.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/CL.write.1.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/link.command.1.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/link.read.1.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/link.secondary.1.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.tlog/link.write.1.tlog
/GuessTheNumber/x64/Debug/GuessTheNumber.ilk
/GuessTheNumber/x64/Debug/GuessTheNumber.log
/GuessTheNumber/x64/Debug/GuessTheNumber.obj
/GuessTheNumber/x64/Debug/NumberOperations.obj
/GuessTheNumber/x64/Debug/vc145.idb
/GuessTheNumber/x64/Debug/vc145.pdb
